<!--ทำ header ด้านบนสุด-->
<nav class="navbar navbar-dark bg-header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      >63050176&nbsp;&nbsp;|&nbsp;&nbsp;Rinrada Laiad</a
    >
  </div>
</nav>
